* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  // background-color: turquoise;
}

.navbar {
  width: 100vw;
  height: 80px;
  background-color: transparent;
  color: white;
  z-index: 999;
  .container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      h1 {
        font-size: 35px;
        font-weight: 300;
        @media screen and (max-width: 968px) {
          font-size: 25px;
        }
      }
    }

    .menu_icon {
      display: none;
    }

    .nav_menu {
      display: flex;
      list-style: none;
      text-align: center;
      width: 60vw;
      justify-content: flex-end;
      margin-right: 2rem;
      .nav_items {
        height: 80px;
        .nav-links {
          color: white;
          display: flex;
          align-items: center;
          text-decoration: none;
          padding: 0.5rem 1rem;
          height: 100%;
        }
      }
    }

    @media screen and (max-width: 968px) {
      .nav_menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: 100%;
        opacity: 1;
        transition: all 0.5s ease;
      }
      .nav_menu.active {
        background: #0f1823;
        left: 0;
        top: 80px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }
      .nav-links {
        padding: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
      }
      .nav-links:hover {
        background-color: white;
        color: black !important;
      }

      .fa-times {
        color: white;
        font-size: 2rem;
      }

      .menu_icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 50%);
        font-size: 1.8rem;
        cursor: pointer;
      }
    }
  }
}

.hero {
  width: 100vw;
  height: 110vh;
  background-image: url(./img/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: -80px;
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  h1 {
    font-size: 60px;
    font-weight: 600;
  }
  p {
    font-size: 15px;
    font-weight: 300;
  }
}
