* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.navbar {
  width: 100vw;
  height: 80px;
  background-color: transparent;
  color: white;
  z-index: 999;
  .container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      h1 {
        font-size: 35px;
        font-weight: 300;
        @media screen and (max-width: 968px) {
          font-size: 25px;
        }
      }
    }

    .menu_icon {
      display: none;
    }

    .nav_menu {
      display: flex;
      list-style: none;
      text-align: center;
      width: 60vw;
      justify-content: flex-end;
      margin-right: 2rem;
      .nav_items {
        height: 80px;
        .nav-links {
          color: white;
          display: flex;
          align-items: center;
          text-decoration: none;
          padding: 0.5rem 1rem;
          height: 100%;
        }
      }
    }

    @media screen and (max-width: 968px) {
      .nav_menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: 100%;
        opacity: 1;
        transition: all 0.5s ease;
      }
      .nav_menu.active {
        background: #0f1823;
        left: 0;
        top: 80px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }
      .nav-links {
        padding: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
      }
      .nav-links:hover {
        background-color: white;
        color: black !important;
      }

      .fa-times {
        color: white;
        font-size: 2rem;
      }

      .menu_icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 50%);
        font-size: 1.8rem;
        cursor: pointer;
      }
    }
  }
}

.hero {
  width: 100vw;
  height: 110vh;
  background-image: url(./img/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: -80px;
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  h1 {
    font-size: 60px;
    font-weight: 600;
  }
  p {
    font-size: 15px;
    font-weight: 300;
  }
}

.shoppages {
  width: 100vw;
  min-height: 100vh;
  // margin-top: -80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 968px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .shop-area {
      width: 95%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: flex-end;
      @media screen and (max-width: 968px) {
        justify-content: center;
        gap: 10px;
      }
    }
  }
  .button-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    button {
      background-color: white;
      border: 3px solid black;
      padding: 5px 15px;
      font-size: 16px;
      font-weight: 600;
      width: 190px;
      height: 50px;
      cursor: pointer;
      &:hover {
        background-color: black;
        color: white;
        transition: 500ms;
      }
    }
  }
}

.cardshop {
  padding: 10px;
  width: 312px;
  height: 395px;
  &:hover {
    transition: 800ms;
    box-shadow: 1px -1px 11px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px -1px 11px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -1px 11px 1px rgba(0, 0, 0, 0.75);
  }
  img {
    width: 100%;
    height: 80%;
  }
  @media screen and (max-width: 968px) {
    margin-top: 20px;
  }
  p {
    font-weight: 600;
    font-size: 23px;
  }
  span {
    color: rgb(145, 145, 145);
    font-size: 14px;
    font-weight: 700;
  }
}

.infosatu {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  .container {
    width: 80%;
    height: 100%;
    display: flex;
    margin: auto;
    @media screen and (max-width: 968px) {
      flex-direction: column;
    }
    .sectionsatu {
      width: 50%;
      @media screen and (max-width: 968px) {
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
    .sectiondua {
      width: 50%;
      padding: 50px 100px 50px 50px;
      @media screen and (max-width: 968px) {
        width: 100%;
        padding: 0px;
      }
      h1 {
        font-weight: 500;
        font-size: 43px;
        margin-bottom: 10px;
        @media screen and (max-width: 968px) {
          font-size: 33px;
        }
      }
      p {
        color: rgb(138, 138, 138);
        line-height: 22px;
        @media screen and (max-width: 968px) {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}

.infodua {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  .container {
    width: 80%;
    height: 100%;
    display: flex;
    margin: auto;
    @media screen and (max-width: 968px) {
      flex-direction: column;
    }
    .sectionsatu {
      width: 50%;
      padding: 50px 50px 50px 50px;
      @media screen and (max-width: 968px) {
        width: 100%;
        padding: 0px;
      }
      h1 {
        font-weight: 500;
        font-size: 43px;
        margin-bottom: 10px;
        @media screen and (max-width: 968px) {
          font-size: 33px;
        }
      }
      p {
        color: rgb(138, 138, 138);
        line-height: 22px;
        @media screen and (max-width: 968px) {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    .sectiondua {
      width: 50%;
      @media screen and (max-width: 968px) {
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
  }
}

.projects {
  width: 100vw;
  min-height: 100vh;
  .container {
    width: 80%;
    margin: auto;
    display: flex;
    .project-area {
      width: 80%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }
}

.cardproject {
  padding: 10px;
  width: 312px;
  height: 395px;
  gap: 10px;
  &:hover {
    transition: 800ms;
    box-shadow: 1px -1px 11px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px -1px 11px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -1px 11px 1px rgba(0, 0, 0, 0.75);
  }
  img {
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 968px) {
    margin-top: 20px;
  }
}
